:root{
    --luz_acesa: linear-gradient(137deg, rgba(172,255,137,1) 0%, rgba(233,236,231,1) 100%, rgba(92,12,92,1) 100%);
    --luz_apagada: linear-gradient(137deg, rgba(2,0,36,1) 0%, rgba(47,8,43,1) 51%, rgba(92,12,92,1) 100%);
}

body {
    background-image: var(--luz_acesa);   
    display: flex;
    align-items: center;
    justify-content: center;
}

.interruptor {
    background-image: var(--luz_apagada);
    height: 100px;
    width: 250px;
    top: calc(50% - 100px);
    position: absolute;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

#botao {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    box-shadow: #d6c7cd;
    margin-left: 10px;
    background-image: var(--luz_acesa);
    transition: 0.5s ease;
}

#botao:hover{
    cursor: pointer;
}